.about{
    background-color:var(--primary-bg-color) ;
    padding-top: 60px;
 }
 .about__container{
    display: flex;
    flex-direction:column;
    justify-content: center;

 }

.about__subtitle{
    font-family: var(--main-font);
    font-weight:700;
    font-size:18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}
.about__title{
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  width: 200px;
  margin:0 auto;
  @media screen and (min-width:768px){
    width: 455px;
  }
 
}


.about__img-box{
    position:relative;
    width: 279px;
    height: 300px;
    display: block;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    @media screen and (min-width:768px){
        width: 336px;
        height: 355px;
        margin-bottom: 10px;
    }
    @media screen and (min-width:1200px){
        width:500px;
        height:529px;  
    }
   

}
.about__image{
    position:absolute;
    top:0;
    left:-6%;
  
    
}
.about__pic{
    position: absolute;
    top:25px;
    left:0;
    transform: translate(10% 20%);

    @media screen and (min-width:768px){
    top:40px;    
    }
    @media screen and (min-width:1200px){
    top:50px;
    transform: translateX(-2%);
    }

}
.about__box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    @media screen and (min-width:768px) {
        flex-direction: row;
        justify-content:space-between;
        
    }
    @media screen and (min-width:768px){
        justify-content:space-around;

    }
}
.about__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width:768px) {
        width:334px;    }
        @media screen and (min-width:1200px){
            width:465px;    
        }
    

}
.about__text-decor{
    display: none;
    @media screen and (min-width:480px) {
        display: block;
    }
}
.about__text{
    font-family:var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.75;
    letter-spacing: 4%;
    color:var(--secondary-text-color);
    margin-bottom: 3px;
    text-align: center;
    @media screen and (min-width:768px){
        text-align:start;
    }
    @media screen and (min-width:1200px){
        font-size: 16px; 
        margin-bottom:8px;

    }
}
.about__button{
    font-family:var(--main-font);
    font-weight: 600;
    font-size:14px ;
    line-height:1.28 ;
    color:var(--primary-text-color) ;
     display: flex;
    flex-direction:row;
    width: 164px;
    height: 42px;
    padding: 12px 32px;
    background-color:var(--accent-color);
    border-radius: 10px;
    margin: 0 auto;
    @media screen and (min-width:1200px){
        margin: 40px auto 40px 0px ;
    }
}
.about__icon{
    margin-left:2px ;
}
