.footer-box {
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid #e1e1e1;
}

.footer__title {
  color: var(--secondary-text-color);
  font: var(--additional-font);
  font-size: 18px;
  line-height: calc(22 / 18);
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 39px;
}
.footer__desc {
  color: var(--secondary-text-color);
  font: var(--additional-font);
  font-size: 34px;
  line-height: calc(41 / 34);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 16px;
  margin-bottom: 42px;
}
.socials {
  display: flex;
  gap: 28px;
  justify-content: flex-end;
  margin-bottom: 38px;
}
.socials__link {
  &:hover .socials__icon,
  &:focus .socials__icon {
    fill: var(--secondary-text-color);
    width: 38px;
    height: 38px;
  }
  transition: fill var(--animation), width var(--animation),
    height var(--animation);
}
.socials__icon {
  fill: var(--primary-bg-color);
}
.footer__contacts {
  display: flex;
  justify-content: end;
  margin-bottom: 56px;
}
.footer__sub {
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: calc(22 / 12);
  font-weight: 700;
}
.footer__tel {
  color: var(--secondary-text-color);
  font-size: 12px;
  line-height: calc(22 / 12);
  font-weight: 700;
}
.footer__copyright {
  color: #7a7a7a;
  font-size: 14px;
  // line-height: calc(21 / 4);
  font-weight: 700;
  text-align: center;
  padding-bottom: 62px;
}
