// hero
.hero {
  position: relative;
  padding-top: 61px;
  padding-bottom: 239px;
  background-color: var(--primary-bg-color);

  @media screen and (min-width: 768px) {
    padding-top: 28px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 45px;
    padding-bottom: 103px;
  }
}

.hero__block {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.hero__title {
  margin-bottom: 20px;
  padding-top: 10px;
  max-width: 247px;
  font-family: 'Seymour One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.27;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    max-width: 181px;
    font-size: 18px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 367px;
    font-size: 38px;
    letter-spacing: 0.04em;
  }
}

.hero__title--accent {
  margin-bottom: 0;
  padding-top: 0;
  font-size: 34px;
  line-height: 0.97;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 0.55;
  }

  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: 1.27;
  }
}

.hero__nav {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  @media screen and (min-width: 1200px) {
    gap: 12px;
  }
}

.hero__link {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 83px;
  height: 24px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  text-decoration: underline;
  color: var(--accent-color);
  cursor: pointer;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #0a8817;
  }

  &:focus {
    color: var(--secondary-text-color);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 154px;
    height: 42px;
    font-size: 14px;
    line-height: 1.21;
  }
}

.hero__link--bordered {
  width: 62px;
  text-decoration: none;
  color: var(--primary-text-color);
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    border: 2px solid #0a8817;
    color: var(--primary-text-color);
  }

  &:focus {
    color: var(--secondary-text-color);
  }
  @media screen and (min-width: 1200px) {
    width: 134px;
    border-radius: 10px;
  }
}

.hero__features-list {
  margin-left: auto;
  width: 46px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: var(--secondary-text-color);

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    width: 79px;
    font-size: 14px;
  }
}

.hero__features-item:first-child {
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}

.hero__features-number {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.21;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 46px;
  }
}

.hero__text-block {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-left: 185px;
  width: 151px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  color: var(--secondary-text-color);

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 109px;
    margin-left: 256px;
    width: 200px;
    font-size: 14px;
  }
}

.hero__arrow-button {
  margin-top: 12px;
  padding: 0;
  width: 40px;
  height: 16px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.25);
    transform-origin: left;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 24px;
  }
}

.hero__arrow-icon {
  fill: var(--secondary-text-color);
}

.hero-ribbon {
  position: absolute;
  bottom: 0;
  z-index: 0;
  pointer-events: none;

  @media screen and (max-width: 479px) {
    max-width: 480px;
  }

  @media screen and (min-width: 480px) {
    max-width: 480px;
    left: calc((100% - 480px) / 2);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    left: calc((100% - 768px) / 2);
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    left: calc((100% - 1200px) / 2);
  }
}

.hero__ice-cream-block {
  width: 157px;
  height: 207px;
  position: absolute;
  bottom: 0;
  left: calc((100% - 157px) / 2);

  @media screen and (min-width: 768px) {
    width: 257px;
    height: 325px;
    left: calc((100% - 0px) / 2 + 34px);
  }

  @media screen and (min-width: 1200px) {
    width: 447px;
    height: 561px;
    left: calc((100% - 0px) / 2 + 51px);
  }
}

.hero-shadow {
  position: absolute;
  bottom: -60px;
  left: -60px;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  animation: ani 1s forwards;
  animation-delay: 0.2s;

  @media screen and (min-width: 1200px) {
    bottom: -82px;
    left: -87px;
  }
}

.hero-ice-cream {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  animation: ani 1s forwards;
  animation-delay: 0.2s;
}

.hero-orange-smile {
  position: absolute;
  bottom: 98px;
  left: 25px;
  z-index: 3;
  pointer-events: none;
  opacity: 0;
  animation: ani 0s forwards;
  animation-delay: 1.5s;

  @media screen and (min-width: 768px) {
    bottom: 153px;
    left: 40px;
  }

  @media screen and (min-width: 1200px) {
    bottom: 266px;
    left: 72px;
  }
}

.hero-pink-smile {
  position: absolute;
  bottom: 50px;
  left: 77px;
  z-index: 3;
  pointer-events: none;
  opacity: 0;
  animation: ani 0s forwards;
  animation-delay: 2.1s;

  @media screen and (min-width: 768px) {
    bottom: 78px;
    left: 123px;
  }

  @media screen and (min-width: 1200px) {
    bottom: 138px;
    left: 222px;
  }
}

.hero-green-smile {
  position: absolute;
  bottom: 125px;
  left: 71px;
  z-index: 3;
  pointer-events: none;
  opacity: 0;
  animation: ani 1s forwards;
  animation-delay: 2.5s;

  @media screen and (min-width: 768px) {
    bottom: 196px;
    left: 114px;
  }

  @media screen and (min-width: 1200px) {
    bottom: 343px;
    left: 206px;
  }
}

.hero-plate {
  position: absolute;
  bottom: 13px;
  z-index: 1;
  left: calc((100% - 0px) / 2 - 352px);
  opacity: 0;
  animation: ani 1s forwards;
  animation-delay: 0.7s;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    bottom: 65px;
    left: calc((100% - 0px) / 2 - 584px);
  }
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
