li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding-left: 0;
}