:root {
    /* color */
    --primary-text-color: #131313;
    --secondary-text-color: #FCFCFC;

    --accent-color: #F8D24E;
    --primary-bg-color: #84A178;
    --secondary-bg-color: #F5F5F5;

    --products-color1: #AEC6A5;
    --products-color2: #EFD478;
    --products-color3: #D6936D;
    /* font */
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Seymour One', sans-serif;
    --additional-font: 'Roboto', sans-serif;

    /* animation */
    --animation: 250ms cubic-bezier (0.4, 0, 0.2, 1);
}