<section class="advantages">

<div class="advantages-container">
<h1 class="advantages-title visually-hidden">Перерваги</h1>
    <ul class="advantages-list list"> 

        <li class="advantages-item item">

            <p class="advantages-amount">721</p>

            <p class="advantages-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>

        <li class="advantages-item item">

            <p class="advantages-amount">16kg</p>

            <p class="advantages-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>

        <li class="advantages-item item">

            <p class="advantages-amount">84</p>

            <p class="advantages-description">Aliquam ac dui vel dui vulputate consectetur.Mauris massa.</p>
        </li>
    </ul>

</div> 

</section>