<section class="contacts" id="contact">
  <h2 hidden>Контакти</h2>
  <div class="contacts-container contacts-container--absolute">
    <ul class="contacts-list contacts-list--absolute">
      <p class="contacts-list__title">Cafe</p>
      <li class="contacts-list__item">
        <div class="contacts-list__item-box">
          <p class="contacts-list__city">Chicago</p>
          <a class="contacts-list__link" href=""
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </div>
      </li>
      <li class="contacts-list__item">
        <div class="contacts-list__item-box">
          <p>Monday - Friday</p>
          <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          <p>Saturday - Sunday</p>
          <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
        </div>
      </li>
      <li class="contacts-list__item">
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
      </li>
      <li class="contacts-list__item">
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <ul class="contacts-list">
      <p class="contacts-list__title contacts-list__title--wider">Foodtruck</p>
      <li class="contacts-list__item">
        <div class="contacts-list__item-box">
          <p class="contacts-list__city">Los Angeles</p>
          <a class="contacts-list__link" href=""
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </div>
      </li>
      <li class="contacts-list__item">
        <div class="contacts-list__item-box">
          <p>Monday - Friday</p>
          <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          <p>Saturday - Sunday</p>
          <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
        </div>
      </li>
      <li class="contacts-list__item">
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
      </li>
      <li class="contacts-list__item">
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <ul class="contacts-list">
      <p class="contacts-list__title">Cafe</p>
      <li class="contacts-list__item">
        <div class="contacts-list__item-box">
          <p class="contacts-list__city">New York</p>
          <a class="contacts-list__link" href=""
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </div>
      </li>
      <li class="contacts-list__item">
        <div class="contacts-list__item-box">
          <p>Monday - Friday</p>
          <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          <p>Saturday - Sunday</p>
          <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
        </div>
      </li>
      <li class="contacts-list__item">
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
      </li>
      <li class="contacts-list__item">
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
  </div>
  <div class="contacts-container contacts-container--buttons">
    <button
      type="button"
      class="contacts-button contacts-button--locations js-open-modal"
      data-modal="4"
    >
      Our Locations<svg class="contacts-button__icon" width="12" height="12">
        <use href="/src/images/icons.svg#contacts-button__icon"></use>
      </svg>
    </button>
    <button type="button" class="contacts-button" franchise-modal-open>
      Franchise<svg class="contacts-button__icon" width="12" height="12">
        <use href="/src/images/icons.svg#contacts-button__icon"></use>
      </svg>
    </button>
  </div>
</section>
