<section class="contacts" id="contact">
  <h2 hidden>Контакти</h2>
  <div class="contacts-container contacts-container--absolute">
    <ul class="contacts-list contacts-list--absolute">
      <li class="contacts-list__item">
        <p class="contacts-list__title">Cafe</p>
        <div class="contacts-list__item-box">
          <p class="contacts-list__city">Chicago</p>
          <a
            class="contacts-list__link"
            target="_blank"
            href="https://www.google.com.ua/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@41.7034016,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405?hl=uk"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </div>
      </li>
      <li class="contacts-list__item">
        <div class="contacts-list__item-box">
          <p>Monday - Friday</p>
          <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          <p>Saturday - Sunday</p>
          <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
        </div>
      </li>
      <li class="contacts-list__item">
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
      </li>
      <li class="contacts-list__item">
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <ul class="contacts-list">
      <li class="contacts-list__item">
        <p class="contacts-list__title contacts-list__title--wider">
          Foodtruck
        </p>
        <div class="contacts-list__item-box">
          <p class="contacts-list__city">Los Angeles</p>
          <a
            class="contacts-list__link"
            target="_blank"
            href="https://www.google.com.ua/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@33.8835263,-118.4125173,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286?hl=uk"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </div>
      </li>
      <li class="contacts-list__item">
        <div class="contacts-list__item-box">
          <p>Monday - Friday</p>
          <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          <p>Saturday - Sunday</p>
          <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
        </div>
      </li>
      <li class="contacts-list__item">
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
      </li>
      <li class="contacts-list__item">
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
    <ul class="contacts-list">
      <li class="contacts-list__item">
        <p class="contacts-list__title">Cafe</p>
        <div class="contacts-list__item-box">
          <p class="contacts-list__city">New York</p>
          <a
            class="contacts-list__link"
            target="_blank"
            href="https://www.google.com.ua/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@40.6726938,-73.9569227,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734?hl=uk"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </div>
      </li>
      <li class="contacts-list__item">
        <div class="contacts-list__item-box">
          <p>Monday - Friday</p>
          <p class="contacts-list__time">06:00 AM - 10:00 PM</p>
          <p>Saturday - Sunday</p>
          <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
        </div>
      </li>
      <li class="contacts-list__item">
        <a href="tel:+610383766284">+61(0) 383 766 284</a>
      </li>
      <li class="contacts-list__item">
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </li>
    </ul>
  </div>
  <div class="contacts-container contacts-container--buttons">
    <button
      type="button"
      class="contacts-button contacts-button--locations js-open-modal"
      data-modal="4"
    >
      Our Locations<svg class="contacts-button__icon" width="12" height="12">
        <use href="/src/images/icons.svg#contacts-button__icon"></use>
      </svg>
    </button>
    <button type="button" class="contacts-button" franchise-modal-open>
      Franchise<svg class="contacts-button__icon" width="12" height="12">
        <use href="/src/images/icons.svg#contacts-button__icon"></use>
      </svg>
    </button>
  </div>
</section>
