<foorter>
  <p>homemade ice cream made <span>with passion</span></p>
  <ul class="socials">
    <li class="socials__item">
      <a
        href="https://github.com/"
        target="_blank"
        rel="noopener nereffer"
        aria-label="github"
      >
        <svg class="socials__icon" width="32" height="32">
          <use href="./images/icons.svg#socials_github"></use>
        </svg>
      </a>
    </li>
    <li class="socials__item">
      <a
        href="https://web.telegram.org/z/"
        target="_blank"
        rel="noopener
        nereffer"
        aria-label="telegram"
      >
        <svg class="socials__icon" width="32" height="32">
          <use href="./images/icons.svg#socials_telegram"></use>
        </svg>
      </a>
    </li>
    <li class="socials__item">
      <a
        href="https://uk-ua.facebook.com/"
        target="_blank"
        rel="noopener
        nereffer"
        aria-label="facebook"
      >
        <svg class="socials__icon" width="32" height="32">
          <use href="./images/icons.svg#socials_facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</foorter>
