<footer class="footer-box">
  <div class="container">
    <div class="footer-tablet-desk">
      <div class="title-tablet">
        <p class="footer__title">homemade ice cream made</p>
        <p class="footer__desc">with passion</p>
      </div>
      <div class="contact-box-tablet-desk">
        <div class="footer__contact-box">
          <ul class="socials">
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://github.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="github"
              >
                <svg class="socials__icon" width="32" height="32">
                  <use href="./images/icons.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://web.telegram.org/z/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="telegram"
              >
                <svg class="socials__icon" width="32" height="32">
                  <use href="./images/icons.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a
                class="socials__link"
                href="https://uk-ua.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="facebook"
              >
                <svg class="socials__icon" width="32" height="32">
                  <use href="./images/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer__contacts">
          <strong class="footer__sub">Feel free to contact</strong>
          <a class="footer__tel" href="tel:+61(0)383766284">
            +61 (0) 383 766 284</a
          >
        </div>
      </div>
    </div>
    <div class="footer__copyright">
      <p class="copyright__desk">© 2022 - IceCream.</p>
      <p class="copyright__desk">All Rights Reserved.</p>
    </div>
  </div>
</footer>
