<header>
  <div class="container header-container">
    <img src="images/logo.png" alt="logo" width="60" class="header-logo" />

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#how-its-made">How it’s made?</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#products">Our products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="buttoms">
      <button
        class="menu-burger-btn"
        data-menu-open
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="32" height="32" aria-label="Переключатель мобільного меню">
          <use class="icon-menu" href="images/icons.svg#icon-open"></use>
        </svg>
      </button>
      <button class="header-btn js-open-modal" type="button" data-modal="1">
        Buy now
        <svg class="icon-header-arrow" height="12" width="12">
          <use href="images/icons.svg#icon-header-arrow"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- Мобільне меню -->
  <div class="mob-menu" data-menu>
    <div class="container">
      <div class="mob-buttoms">
        <img src="images/logo.png" alt="logo" width="60" class="header-logo" />
        <button class="mob-burger-btn" data-menu-close-mob type="button">
          <svg
            width="32"
            height="32"
            aria-label="Переключатель мобільного меню"
          >
            <use class="icon-cross" href="images/icons.svg#menu_close"></use>
          </svg>
        </button>
      </div>
      <nav class="nav-mob">
        <ul class="nav-mob-list mob-menu-list">
          <li class="nav-mob-item">
            <a class="nav-mob-link" href="">Home</a>
          </li>

          <li class="nav-mob-item">
            <a class="nav-mob-link" href="#how-its-made">How it’s made?</a>
          </li>

          <li class="nav-mob-item">
            <a class="nav-mob-link" href="#products">Our products</a>
          </li>

          <li class="nav-mob-item">
            <a class="nav-mob-link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>

      <button class="header-mob-btn js-open-modal" type="button" data-modal="1">
        Buy now
        <svg class="icon-header-arrow" height="12" width="12">
          <use href="images/icons.svg#icon-header-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
