<!-- hero -->
<section class="hero section">
  <div class="hero__container container">
    <div class="hero__block">
      <div class="hero__title-block">
        <h1 class="hero__title">
          ice cream made with
          <span class="hero__title hero__title--accent">passion</span>
        </h1>
        <ul class="hero__nav list">
          <li class="hero__nav-item">
            <a class="hero__link hero__link--bordered link" href="#products"
              >Products</a
            >
          </li>
          <li class="hero__nav-item">
            <a class="hero__link link" href="#how-its-made">How it’s made?</a>
          </li>
        </ul>
      </div>
      <ul class="hero__features-list list">
        <li class="hero__features-item">
          <span class="hero__features-number">16</span>
          cafes
        </li>
        <li class="hero__features-item">
          <span class="hero__features-number">23</span>
          food trucks
        </li>
      </ul>
    </div>

    <div class="hero__text-block">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button
        class="hero__arrow-button button js-open-modal"
        type="button"
        data-modal="3"
      >
        <svg class="hero__arrow-icon" width="40" height="16">
          <use href="./images/icons.svg#arrow-default"></use>
        </svg>
      </button>
    </div>
    <div class="hero__ice-cream-block">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/hero-shadow_d-@1x.png 1x,
            ./images/hero/hero-shadow_d-@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/hero-shadow_t-@1x.png 1x,
            ./images/hero/hero-shadow_t-@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/hero/hero-shadow_m-@1x.png 1x,
            ./images/hero/hero-shadow_m-@2x.png 2x
          "
        />
        <img
          class="hero-shadow"
          src="./images/hero/hero-shadow_m-@1x.png"
          alt="hero-shadow"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/hero-ice-cream_d-@1x.png 1x,
            ./images/hero/hero-ice-cream_d-@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/hero-ice-cream_t-@1x.png 1x,
            ./images/hero/hero-ice-cream_t-@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/hero/hero-ice-cream_m-@1x.png 1x,
            ./images/hero/hero-ice-cream_m-@2x.png 2x
          "
        />
        <img
          class="hero-ice-cream"
          src="./images/hero/hero-ice-cream_m-@1x.png"
          alt="hero-ice-cream"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/hero-orange-smile_d-@1x.png 1x,
            ./images/hero/hero-orange-smile_d-@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/hero-orange-smile_t-@1x.png 1x,
            ./images/hero/hero-orange-smile_t-@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/hero/hero-orange-smile_m-@1x.png 1x,
            ./images/hero/hero-orange-smile_m-@2x.png 2x
          "
        />
        <img
          class="hero-orange-smile"
          src="./images/hero/hero-orange-smile_m-@1x.png"
          alt="hero-orange-smile"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/hero-pink-smile_d-@1x.png 1x,
            ./images/hero/hero-pink-smile_d-@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/hero-pink-smile_t-@1x.png 1x,
            ./images/hero/hero-pink-smile_t-@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/hero/hero-pink-smile_m-@1x.png 1x,
            ./images/hero/hero-pink-smile_m-@2x.png 2x
          "
        />
        <img
          class="hero-pink-smile"
          src="./images/hero/hero-pink-smile_m-@1x.png"
          alt="hero-pink-smile"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/hero-green-smile_d-@1x.png 1x,
            ./images/hero/hero-green-smile_d-@2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/hero-green-smile_t-@1x.png 1x,
            ./images/hero/hero-green-smile_t-@2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/hero/hero-green-smile_m-@1x.png 1x,
            ./images/hero/hero-green-smile_m-@2x.png 2x
          "
        />
        <img
          class="hero-green-smile"
          src="./images/hero/hero-green-smile_m-@1x.png"
          alt="hero-green-smile"
        />
      </picture>
    </div>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/hero-plate_d-@1x.png 1x,
          ./images/hero/hero-plate_d-@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/hero/hero-plate_t-@1x.png 1x,
          ./images/hero/hero-plate_t-@2x.png 2x
        "
      />
      <img
        class="hero-plate"
        src="./images/hero/hero-plate_t-@1x.png"
        alt="hero-plate"
      />
    </picture>
  </div>
  <picture>
    <source
      media="(min-width: 1200px)"
      srcset="
        ./images/hero/hero-ribbon_d-@1x.png 1x,
        ./images/hero/hero-ribbon_d-@2x.png 2x
      "
    />
    <source
      media="(min-width: 768px)"
      srcset="
        ./images/hero/hero-ribbon_t-@1x.png 1x,
        ./images/hero/hero-ribbon_t-@2x.png 2x
      "
    />
    <source
      media="(max-width: 767px)"
      srcset="
        ./images/hero/hero-ribbon_m-@1x.png 1x,
        ./images/hero/hero-ribbon_m-@2x.png 2x
      "
    />
    <img
      class="hero-ribbon"
      src="./images/hero/hero-ribbon_m-@1x.png"
      alt="hero-ribbon"
    />
  </picture>
</section>
