<section class="products">
  <p class="products__uppertitle">100% Natural</p>
  <h2 class="products__title">Products</h2>
  <ul class="products__list">
    <li class="products__item products__item--green">
      <h3 class="products__headline">Ice cream</h3>
      <p class="products__text">
        Soft ice cream with a delicate taste. Made with milk, cream, sugar and
        natural stabilizer
      </p>
      <button type="button" class="products__btn">
        <svg class="btn__svg">
          <use href="./images/icons.svg#arrow-default"></use>
        </svg>
      </button>
    </li>
    <li class="products__item products__item--yellow">
      <picture>
        <!-- mobile -->
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/icecream2-sm@1x.png 1x,
            ./images/icecream2-sm@2x.png 2x
          "
          type="image/png"
        />
        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/icecream2-md@1x.png 1x,
            ./images/icecream2-md@2x.png 2x
          "
          type="image/png"
        />
        <!-- desktop -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/icecream2-lg@1x.png 1x,
            ./images/icecream2-lg@2x.png 2x
          "
          type="image/png"
        />
        <img src="./images/icecream2-lg@1x.png" alt="" />
      </picture>
      <h3 class="products__headline">Ice coffee</h3>
      <p class="products__text">
        Fragrant invigorating drink created from 100% natural ingredients
        without the use of preservatives and flavor enhancers
      </p>
      <button type="button" class="products__btn">
        <svg width="40">
          <use href="./images/icons.svg#arrow-defolt"></use>
        </svg>
      </button>
    </li>
    <li class="products__item products__item--coffee">
      <picture>
        <!-- mobile -->
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/icecream3-sm@1x.png 1x,
            ./images/icecream3-sm@2x.png 2x
          "
          type="image/png"
        />
        <!-- tablet -->
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/icecream3-md@1x.png 1x,
            ./images/icecream3-md@2x.png 2x
          "
          type="image/png"
        />
        <!-- desktop -->
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/icecream3-lg@1x.png 1x,
            ./images/icecream3-lg@2x.png 2x
          "
          type="image/png"
        />
        <img src="./images/icecream3-lg@1x.png" alt="" />
      </picture>
      <h3 class="products__headline">Milkshakes</h3>
      <p class="products__text">
        Sweet drinks based on milk and ice cream, supplemented with syrups,
        fruits, berries and other sweets of your choice
      </p>
      <button type="button" class="products__btn">
        <svg width="40">
          <use href="./images/icons.svg#arrow-defolt"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
