<section class="products" id="products">
  <p class="products__uppertitle">100% Natural</p>
  <h2 class="products__title">Products</h2>
  <ul class="products__list" data-aos="fade-up" data-aos-duration="2000">
    <li class="products__item products__item--green">
      <h3 class="products__headline products__headline--green">Ice cream</h3>
      <p class="products__text">
        Soft ice cream with a delicate taste. Made with milk, cream, sugar and
        natural stabilizer
      </p>
      <button type="button" class="products__btn js-open-modal" data-modal="3">
        <svg class="btn__svg">
          <use href="./images/icons.svg#arrow-default"></use>
        </svg>
      </button>
    </li>
    <li class="products__item products__item--yellow">
      <h3 class="products__headline products__headline--yellow">Ice coffee</h3>
      <p class="products__text">
        Fragrant invigorating drink created from 100% natural ingredients
        without the use of preservatives and flavor enhancers
      </p>
      <button type="button" class="products__btn js-open-modal" data-modal="3">
        <svg class="btn__svg">
          <use href="./images/icons.svg#arrow-default"></use>
        </svg>
      </button>
    </li>

    <li class="products__item products__item--coffee">
      <h3 class="products__headline products__headline--coffee">Milkshake</h3>
      <p class="products__text">
        Sweet drinks based on milk and ice cream, supplemented with syrups,
        fruits, berries and other sweets of your choice
      </p>
      <button type="button" class="products__btn js-open-modal" data-modal="3">
        <svg class="btn__svg">
          <use href="./images/icons.svg#arrow-default"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
