<section class="review">
  <input
    type="radio"
    name="review"
    title="slide1"
    checked="checked"
    class="review__nav"
  />
  <input type="radio" name="review" title="slide2" class="review__nav" />
  <input type="radio" name="review" title="slide3" class="review__nav" />

  <div class="review__inner" data-aos="fade-left" data-aos-duration="1500">
    <div class="review__contents">
      <img
        src="./images/customer-reviews/photo1.png"
        class="review__img"
        alt=""
      />
      <p class="review__txt">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
      <h2 class="review__caption">Emily, Los Angeles</h2>
    </div>
    <div class="review__contents">
      <img
        src="./images/customer-reviews/photo2.png"
        class="review__img"
        alt=""
      />
      <p class="review__txt">
        I love eating popsicles on a hot day. Yours is always delicious. I
        recommend your cafe to everyone I know.
      </p>
      <h2 class="review__caption">Sam, Los Angeles</h2>
    </div>
    <div class="review__contents">
      <img
        src="./images/customer-reviews/photo3.png"
        class="review__img"
        alt=""
      />
      <p class="review__txt">
        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I
        really like the excellent service - always served politely and quickly!
      </p>
      <h2 class="review__caption">Diana, Chicago</h2>
    </div>
  </div>
</section>
